#tag {
    background-color: #efefef;
    /* background-color: white;
    border-width: 3px;
    border-color: #efefef;
    border-style: solid; */
    padding: 10px;
    margin: 7px;
    font-size: 15px;
    text-align: center;
}